# Eclipse
.settings/
.metadata/
.classpath
.project

# Generated
target/
javadoc/
bin/
classes/
dependency-reduced-pom.xml

# Misc.
.DS_Store
*.swp
*.swo

# externalized configuration file for keys
*.exchange.properties
*.properties

#logs
*.log
log/
logs/